/*
* {
  outline: black 1px solid;
}

svg * {
  outline: revert;
}
*/

:root {
  height: 100%;
  font-size: 30px;
}

body,
#root {
  height: 100%;
}

input[type="range"] {
  accent-color: #439cfe;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#react-logo {
  animation: rotation 4s infinite linear;
}
